<section class="styled__Container-sc-7y974v-0 jsQpcr">
    <form class="styled__ContentWrapper-sc-7y974v-1 dangAn">
      <div class="sc-bdnylx dlDNpc">
        <div width="100%" height="212px" color="#ffffff" class="sc-gtssRu sc-hKFyIo kIyKiv bdDYJz"></div>
      </div>
      <div class="sc-bdnylx bUlSOE">
        <div width="100%" height="40px" color="#ffffff" class="sc-gtssRu sc-hKFyIo hxNKQy bdDYJz"></div>
      </div>
      <h2 style="color: black;" class="sc-fXazxj imWkUS ContactUs__ContactUsContentTitle-d1xsyp-1 GOFDj"><span>Liên hệ</span> chúng tôi</h2>
      <div style="display: flex; font-size: 20px;">Số điện thoại:
        <div>
          <a style="display: block;" href="tel:0764567819"
          class="Text-svzcrs-0 ContactUs__MailToLink-d1xsyp-0 hXwzaM entsLD">0764567819 (Song Thư)</a>
          <a style="display: block;" href="tel:0941079925"
          class="Text-svzcrs-0 ContactUs__MailToLink-d1xsyp-0 hXwzaM entsLD">0941079925 (Phong)</a>
        </div>
      </div>
    </form>
  </section>