<section id="events">
    <div class="sc-dFRpvv ezRbqn">
        <div class="sc-biJoGX rokgS">
            <h2 class="sc-fXazxj imWkUS"><span>Những</span> Sự Kiện Mới Nhất</h2>
        </div>
        <div class="sc-bsatbK cmVrFE">
            <div class="sc-dtLLyC nhysK">
                <div class="sc-gIvpCV ghSfKj">
                    <div class="sc-euEtjk jMrVnB">
                        <h3 class="sc-dkQUut fuXAGV">Mining City Ecuador – Quito</h3>
                        <div class="sc-fHCHSn dHCoSp">
                            <p>29.01.2020</p>
                            <p>Ecuador</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sc-WZYaI sc-uxeQQ wxwNe IyPaT">
                <div class="sc-FRqcf dXpstt"><img src="/images/mining-city-event-ecuador-quitro-2-scaled.jpeg"
                        alt="A view of the city from Mining City Ecuador Event."></div>
                <div class="sc-hzUJqN sc-xGAYn gzcMvf fdbXSE"></div>
                <div class="sc-hzUJqN sc-kYQaHc gzcMvf eGasji"></div>
                <div class="sc-bdnylx bMZCTr">
                    <div width="100%" height="28px" color="#ffffff" class="sc-gtssRu sc-dlnjPT drUCKa cuIYFB"></div>
                </div>
                <div class="sc-bdnylx bMZCTr">
                    <div width="100%" height="56px" color="#74cbff" class="sc-gtssRu sc-gKAblj kBcUmO boPkKw"></div>
                </div>
            </div>
            <div class="sc-WZYaI sc-ikXwZx wxwNe bstcWA">
                <div class="sc-FRqcf dXpstt"><img src="/images/mining-city-event-ecuador-quitro-10.png"
                        alt="Mining City CEO Greg Rogowski with Mining City Community members during Ecuador Event.">
                </div>
                <div class="sc-bdnylx bMZCTr">
                    <div width="100%" height="28px" color="#ffffff" class="sc-gtssRu sc-jSFkmK kBZFXq jGLdVH"></div>
                </div>
            </div>
        </div>
        <div class="sc-bsatbK cmVrFE">
            <div class="sc-dtLLyC nhysK">
                <div class="sc-gIvpCV ghSfKj">
                    <div class="sc-euEtjk jMrVnB">
                        <h3 class="sc-dkQUut fuXAGV">HỘI THẢO BITCOIN VÀ BLOCKCHAIN &#8203;&#8203;BALI</h3>
                        <div class="sc-fHCHSn dHCoSp">
                            <p>08.12.2019</p>
                            <p>Bali</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sc-WZYaI sc-uxeQQ wxwNe IyPaT">
                <div class="sc-FRqcf dXpstt"><img src="/images/bali-min-scaled.jpg"
                        alt="Report from Mining City Global Conference in Bali with Mining City Community members.">
                </div>
                <div class="sc-hzUJqN sc-xGAYn gzcMvf fdbXSE"></div>
                <div class="sc-hzUJqN sc-kYQaHc gzcMvf eGasji"></div>
                <div class="sc-bdnylx bMZCTr">
                    <div width="100%" height="28px" color="#ffffff" class="sc-gtssRu sc-dlnjPT drUCKa cuIYFB"></div>
                </div>
                <div class="sc-bdnylx bMZCTr">
                    <div width="100%" height="56px" color="#74cbff" class="sc-gtssRu sc-gKAblj kBcUmO boPkKw"></div>
                </div>
            </div>
            <div class="sc-WZYaI sc-ikXwZx wxwNe bstcWA">
                <div class="sc-FRqcf dXpstt"><img src="/images/mining-city-global-conference-bali-2-scaled.jpg"
                        alt="Happy members of Mining City Community during Mining City Conference in Bali."></div>
                <div class="sc-bdnylx bMZCTr">
                    <div width="100%" height="28px" color="#ffffff" class="sc-gtssRu sc-jSFkmK kBZFXq jGLdVH"></div>
                </div>
            </div>
        </div>
        <div class="sc-bsatbK cmVrFE">
            <div class="sc-dtLLyC nhysK">
                <div class="sc-gIvpCV ghSfKj">
                    <div class="sc-euEtjk jMrVnB">
                        <h3 class="sc-dkQUut fuXAGV">HỘI NGHỊ YOKOHAMA TOÀN CẦU</h3>
                        <div class="sc-fHCHSn dHCoSp">
                            <p>03.11.2019</p>
                            <p>Nhật Bản</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sc-WZYaI sc-uxeQQ wxwNe IyPaT">
                <div class="sc-FRqcf dXpstt"><img src="/images/mining-city-global-convention-yokohama-2-scaled.jpeg"
                        alt="A view of the city from Mining City Global Convention in Yokohama."></div>
                <div class="sc-hzUJqN sc-xGAYn gzcMvf fdbXSE"></div>
                <div class="sc-hzUJqN sc-kYQaHc gzcMvf eGasji"></div>
                <div class="sc-bdnylx bMZCTr">
                    <div width="100%" height="28px" color="#ffffff" class="sc-gtssRu sc-dlnjPT drUCKa cuIYFB"></div>
                </div>
                <div class="sc-bdnylx bMZCTr">
                    <div width="100%" height="56px" color="#74cbff" class="sc-gtssRu sc-gKAblj kBcUmO boPkKw"></div>
                </div>
            </div>
            <div class="sc-WZYaI sc-ikXwZx wxwNe bstcWA">
                <div class="sc-FRqcf dXpstt"><img src="/images/WhatsApp-Image-2020-03-30-at-12.05.14-2.jpeg"
                        alt="Mining City CEO Greg Rogowski speech during Mining City Global Convention in Yokohama.">
                </div>
                <div class="sc-bdnylx bMZCTr">
                    <div width="100%" height="28px" color="#ffffff" class="sc-gtssRu sc-jSFkmK kBZFXq jGLdVH"></div>
                </div>
            </div>
        </div>
    </div>
</section>