<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/images/miningcity-256.png" type="image/png">
  <%- include('styles'); -%>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">
  <title>Trang chủ - Song Thu Mining - Cùng nhau chúng ta phát triển!</title>
  <script src="/js/main.js"></script>
</head>

<body>
  <header>
    <%- include('navbar'); -%>
    <div class="videoContainer">
      <video id="autoplayvid" loop="" autoplay muted playsinline="" class="sc-hBMVcZ gosmXj">
        <source onload="videoOnload()" src="videos/miningcity_video-6a5d6e4493ecf2c323bb9077d56dac9a.mp4" type="video/mp4" />
      </video>
      <div class="blue-rect">
        <div class="sc-gtssRu sc-eCApGN iZrtTy htLRdL"></div>
      </div>
    </div>
  </header>
  <main>
    <section id="aboutus">
      <div class="sc-dvXXZy eqfPow">
        <div class="sc-bdnylx ctezCv">
          <div width="10%" height="100%" color="#28aaff" class="sc-gtssRu sc-dlnjPT gdCCGz cuIYFB"></div>
        </div>
        <div class="sc-hmbsMR sc-eKYRpg jBZEHi fmrijR">
          <div class="sc-TtZHJ sc-jHNhIU bGSksK cwnvIr">
            <div class="sc-bTDODP sc-kHWWFa kmjNqQ bhyOal">
              <h2 class="sc-fXazxj imWkUS"><span>Về</span> chúng tôi</h2>
            </div>
            <p class="Text-svzcrs-0 hXwzaM">
              Mining City là một công ty toàn cầu cung cấp sức mạnh băm để khai thác tiền điện tử. Bằng kinh nghiệm và bí quyết công nghệ, Mining City đã giành được sự tin tưởng của khách hàng trên khắp thế giới!
            </p>
          </div>
          <div class="sc-jOFreG eJiqvG">
            <div class="sc-bdnylx ctezCv">
              <div width="20%" height="101%" color="#ffffff" class="sc-gtssRu sc-dlnjPT kykbLb cuIYFB"></div>
            </div>
            <div class="sc-bdnylx hGmODR">
              <div width="20%" height="100%" color="#ffffff" class="sc-gtssRu sc-dlnjPT jwYYOu cuIYFB"></div>
            </div>
            <div class="sc-bdnylx bMZCTr">
              <div width="100%" height="56px" color="#28aaff" class="sc-gtssRu sc-iCoHVE cMlhkF knnrxv"></div>
            </div>
            <div class="sc-bdnylx bMZCTr">
              <div width="100%" height="56px" color="#28aaff" class="sc-gtssRu sc-iCoHVE kkxvqH knnrxv"></div>
            </div>
            <div class="sc-FRqcf dXpstt">
              <img src="./static/lp_photo_1-3-scaled.jpg" alt="About Us">
            </div>
          </div>
        </div>
      </div>
      <div class="sc-dvXXZy eqfPow">
        <div class="sc-bdnylx hGmODR">
          <div width="10%" height="100%" color="#5ec0ff" class="sc-gtssRu sc-hKFyIo cmogLN bdDYJz"></div>
        </div>
        <div class="sc-bdnylx ctezCv">
          <div width="8%" height="90%" color="#5ec0ff" class="sc-gtssRu sc-hKFyIo hSKljQ bdDYJz"></div>
        </div>
        <div class="sc-hmbsMR jBZEHi">
          <div class="sc-jOFreG eJiqvG">
            <div class="sc-bdnylx ctezCv">
              <div width="20%" height="102%" color="#ffffff" class="sc-gtssRu sc-eCApGN dHKSqT htLRdL"></div>
            </div>
            <div class="sc-bdnylx bMZCTr">
              <div width="100%" height="56px" color="#28aaff" class="sc-gtssRu sc-gKAblj cvzlVq boPkKw"></div>
            </div>
            <div class="sc-bdnylx bMZCTr">
              <div width="100%" height="56px" color="#28aaff" class="sc-gtssRu sc-gKAblj eIvVSk boPkKw"></div>
            </div>
            <div class="sc-FRqcf dXpstt"><img src="./static/greg-7.png" alt="About the CEO"></div>
          </div>
          <div class="sc-TtZHJ sc-amjdv bGSksK ctMIzp">
            <div class="sc-bTDODP sc-hOPghE kmjNqQ NzEgA">
              <h2 class="sc-fXazxj imWkUS"><span>Giới thiệu</span> về CEO</h2>
            </div>
            <p class="Text-svzcrs-0 hXwzaM">
              Greg Rogowski thành lập Mining City vào năm 2019 và đã phát triển nó thành một trong những công ty năng động và thành công nhất trong lĩnh vực này. Trước đây, anh đã tham gia vào lĩnh vực tiếp thị và truyền thông của các thương hiệu truyền thông lớn của châu Âu, bao gồm truyền hình, đài phát thanh, báo và tạp chí. Anh ấy đã tìm thấy một hướng đi tốt trong việc khai thác tiền điện tử và đã đi nhiều nơi trên thế giới để thuyết trình về giá trị của tiền điện tử.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="howto">
      <div class="sc-dsXyEt flVKWq">
        <div class="sc-bdnylx hGmODR">
          <div width="60%" height="167px" color="#74cbff" class="sc-gtssRu sc-hKFyIo ejMYRf bdDYJz"></div>
        </div>
        <div class="sc-bXevSJ gCNrLt">
          <div class="sc-bdnylx ctezCv">
            <div width="101%" height="107px" color="#74cbff" class="sc-gtssRu sc-hKFyIo jzPmcP bdDYJz"></div>
          </div>
        </div>
        <div class="sc-bdnylx ctezCv">
          <div width="100%" height="167px" color="#74cbff" class="sc-gtssRu sc-jSFkmK dYoOrv jGLdVH"></div>
        </div>
        <div class="sc-bdnylx bMZCTr">
          <div width="120%" height="70px" color="#74cbff" class="sc-gtssRu sc-gKAblj fkdRWw boPkKw"></div>
        </div>
        <div class="sc-bdnylx bMZCTr">
          <div width="120%" height="70px" color="#74cbff" class="sc-gtssRu sc-iCoHVE dwZNOP knnrxv"></div>
        </div>
        <div class="sc-eGJXgd bokBDO">
          <h2 class="sc-fXazxj imWkUS sc-csTaMs dqkoYS"><span>Cách</span> tham gia Cộng đồng Mining City trong bốn bước đơn giản</h2>
        </div>
        <div class="sc-daBvwG iQskcc">
          <div class="sc-jQAyEw emBbeV">
            <div class="sc-fuIRbl hXwWQH">
              <div class="sc-Gvgqn eEDHmj">
                <div class="sc-FRqcf dXpstt"><img src="./static/create-step.svg" alt="Create"></div>
              </div>
            </div>
            <div class="Title-sc-1bh3jmj-0 sc-jUfxsr jxsQPg dvyujH">
              <div class="sc-gsWdvU bHxsHx">1</div>
              <h3>TẠO MỘT TÀI KHOẢN</h3>
            </div>
            <p class="Text-svzcrs-0 hXwzaM">Đăng ký bằng cách chỉ cần cung cấp tên người dùng của người giới thiệu của bạn, sau đó nhập tên người dùng và chi tiết liên hệ mong muốn của bạn! Nó rất dễ dàng!</p>
          </div>
          <div class="sc-jQAyEw emBbeV">
            <div class="sc-fcmNTy eXNXqu">
              <div class="sc-Gvgqn eEDHmj">
                <div class="sc-FRqcf dXpstt"><img src="./static/buy-step.svg" alt="Buy"></div>
              </div>
            </div>
            <div class="Title-sc-1bh3jmj-0 sc-jUfxsr jxsQPg dvyujH">
              <div class="sc-gsWdvU bHxsHx">2</div>
              <h3>MUA GÓI KHAI THÁC</h3>
            </div>
            <p class="Text-svzcrs-0 hXwzaM">Chọn gói khai thác phù hợp nhất cho bạn mà không có phí thành viên hoặc chi phí ẩn! Bạn còn chờ gì nữa? Hãy để chúng tôi giúp bạn tham gia thế giới tiền điện tử!</p>
          </div>
          <div class="sc-jQAyEw emBbeV">
            <div class="sc-Gvgqn eEDHmj">
              <div class="sc-FRqcf dXpstt"><img src="./static/mine-step.svg" alt="Mine"></div>
            </div>
            <div class="Title-sc-1bh3jmj-0 sc-jUfxsr jxsQPg dvyujH">
              <div class="sc-gsWdvU bHxsHx">3</div>
              <h3>HÃY ĐỂ CHÚNG TÔI ĐÀO BTC CHO BẠN</h3>
            </div>
            <p class="Text-svzcrs-0 hXwzaM">Mining City sẽ khai thác tiền điện tử cho bạn với tỷ lệ cạnh tranh toàn cầu và ở mức hiệu quả tối đa, đảm bảo rằng bạn nhận được phần thưởng khai thác cạnh tranh nhất có thể!
            </p>
          </div>
          <div class="sc-jQAyEw emBbeV">
            <div class="sc-Gvgqn eEDHmj">
              <div class="sc-FRqcf dXpstt"><img src="./static/earn-step.svg" alt="Earn"></div>
            </div>
            <div class="Title-sc-1bh3jmj-0 sc-jUfxsr jxsQPg dvyujH">
              <div class="sc-gsWdvU bHxsHx">4</div>
              <h3>THU NHẬP BTC VÀ XÂY DỰNG TƯƠNG LAI CỦA BẠN</h3>
            </div>
            <p class="Text-svzcrs-0 hXwzaM">Chúng tôi phân bổ phần thưởng khai thác cũng như phần thưởng giới thiệu một cách thường xuyên. Kiểm tra tiềm năng khai thác của bạn dựa trên kế hoạch khai thác của bạn!</p>
          </div>
        </div>
      </div>
    </section>
    <%- include('contactus'); -%>
  </main>
  <%- include('footer'); -%>
</body>

</html>