<nav>
  <div class="nav-back-white"></div>
  <div class="nav-back-gray"></div>
  <div class="nav-back-blue"></div>
  <a class="nav-logo" href="/"><img src="/static/logo.png" /></a>
  <div id="burger-nav" onclick="burgerHandleClick()">
    <div class="burger-line" id="line1"></div>
    <div class="burger-line" id="line2"></div>
    <div class="burger-line" id="line3"></div>
  </div>
  <div id="nav-list" class="nav-main">
    <ul>
      <li><a href="/miningcity">VỀ CHÚNG TÔI</a></li>
      <li><a href="/btcv">Bitcoin Vault</a></li>
      <li><a href="/elcash">Electric Cash</a></li>
      <li><a href="/muagoidao">Mua gói đào</a></li>
      <li><a href="/sangiaodich">Sàn giao dịch</a></li>
      <li><a href="https://chat.zalo.me/?g=fnbxye916">Liên hệ</a></li>
    </ul>
  </div>
</nav>
