<ul class="post-list">
    <% if(posts.length>0) { %>
        <% posts.forEach(function(post) { %>
            <a class="post-card" href="/<%= name %>/<%= post._id %>"><li
                style="margin: 5px 0; border-radius: 10px; border: #f7f7f7 2px solid; background-color: #fbfbfb; padding: 5px;">
                <div style="max-height: 230px; width: 100%; display: flex; align-content: center;">
                    <img style="width: 100%; border-radius: 8px;" src="http://tncwriting.work<%= post.thumbnail %>">
                </div>
                <div style="width: 100%; padding: 10px 10px 20px 10px;">
                    <h4>
                        <%= post.title %>
                    </h4>
                </div>
            </li></a>
            <% }); %>
                <% } else { %>
                    <div class="container"
                        style="width: 100%;height: 30vh;margin-top: 20vh;display: block;text-align: center;align-items: center;justify-content: center;">
                        <h1>Không có bài viết nào</h1>
                    </div>
                    <% }; %>
</ul>