* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Roboto", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: none;
  vertical-align: baseline;
}

h2 {
  font-weight: 300;
}

a {
  text-decoration: none;
  margin: 0 20px;
}

p {
  font-weight: 400;
}

.nav-back-white {
  clip-path: polygon(0px 0px, 0% 100%, 100% 0px);
  height: 160px;
  width: 550px;
  padding: 30px 0px 0px 30px;
  z-index: 3;
  position: fixed;
  background: rgb(255, 255, 255);
}
.nav-back-gray {
  display: block;
  z-index: 1;
  position: fixed;
  height: 172px;
  width: 450px;
  background: rgb(233, 246, 255);
  clip-path: polygon(0px 0px, 0% 100%, 100% 50%);
}
.nav-back-blue {
  z-index: 2;
  position: fixed;
  background: rgb(40, 170, 255);
  width: 100%;
  height: 160px;
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 50%);
  display: block;
}

.gosmXj {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.iZrtTy {
  position: absolute;
  background: transparent;
  display: block;
  z-index: 0;
  width: 40%;
  height: 210px;
  bottom: 0px;
  right: 0px;
}
.iZrtTy::after {
  content: "";
  clip-path: polygon(0px 100%, 100% 100%, 100% 0px);
  position: absolute;
  left: 0px;
  right: 0px;
  height: 210px;
  padding-bottom: 210px;
  background: rgb(40, 170, 255);
}

.nav-logo {
  position: fixed;
  z-index: 5;
  top: 25px;
  left: 25px;
  margin: 0;
}

.nav-logo img {
  height: 55px;
}

.nav-main {
  position: fixed;
  z-index: 5;
  top: 45px;
  right: 0px;
  margin: 0;
  width: 70%;
  text-align: center;
}

.nav-main ul {
  display: flex;
  justify-content: space-around;
  padding: 0px 10%;
  list-style: none;
}

.nav-main a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.nav-main a:hover {
  color: rgb(212, 243, 255);
}

.blue-rect {
  display: block;
  width: 100%;
  top: 100vh;
  position: absolute;
}
#burger-nav {
  display: none;
  top: 10px;
  right: 10px;
  z-index: 200;
  position: fixed;
}
.burger-line {
  width: 30px;
  height: 5px;
  background-color: #28aaff;
  border-radius: 3px;
  margin: 5px 0;
}
.videoContainer {
  max-height: 100vh;
}

@media (max-width: 768px) {
  .nav-back-white {
    clip-path: polygon(0px 0px, 0% 100%, 300% 0px);
    width: 100%;
    height: 80px;
  }
  .nav-back-gray {
    height: 100px;
    width: 100%;
  }
  .nav-back-blue {
    height: 90px;
  }
  .nav-logo {
    left: 10px;
    top: 10px;
    width: 200px;
  }
  .nav-logo img {
    height: 40px;
  }
  .nav-main {
    position: fixed;
    z-index: 2;
    display: none;
    width: 100%;
    height: 100vh;
    padding: 100px 0px;
    background-color: #ffffff;
  }
  .nav-main ul {
    flex-direction: column;
  }
  .nav-main ul li {
    margin: 15px 0;
  }

  .nav-main ul li a{
    color: black;
  }

  /* Header content */
  .videoContainer {
    max-height: 80vh;
  }
  .gosmXj {
    height: 80vh;
  }
  .blue-rect {
    top: 80vh;
  }
  .iZrtTy {
    height: 50px;
    width: 100%;
  }
  .iZrtTy::after {
    content: "";
    clip-path: polygon(0px 100%, 100% 100%, 100% 0px);
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100px;
    padding-bottom: 100px;
    background: rgb(40, 170, 255);
  }
  #burger-nav {
    display: block;
  }
}
