#content-holder {
  padding: 160px 15% 10px 15%;
  min-height: 70vh;
}

#main-content {
  display: block;
}

#main-content h1,
h2,
h3,
h4 {
  color: #1e73be;
  font-weight: 700;
  margin: 5px 0;
}

#main-content h2 a {
  display: inline-block;
}

#main-content ul li {
  margin-left: 30px;
}

#main-content a {
  margin: 0;
  color: #411ebe;
  text-decoration: none;
}

#main-content h1 {
  font-size: 50px;
}

#main-content h2 {
  font-size: 40px;
}

#main-content h3 {
  font-size: 30px;
}

#main-content ul li {
  font-size: 22px;
}

#main-content p {
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 20px;
}

#main-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#main-content blockquote {
  font-style: italic;
  border-left: 4px solid #000;
  padding-left: 1em;
  margin: 2rem 0;
  color: #9daab9;
  position: relative;
  line-height: 30px;
  padding: 0 3rem;
}

/* POST LIST */
.post-list {
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
  flex-direction: row;
  flex-wrap: wrap;
}

.headtext {
  text-align: center;
  font-size: 46px;
  color: #1e73be;
}

.post-card {
  margin: 10px; 
  width: 30%;
}

.post-list h4 {
  font-size: 27px;
  color: #1e73be;
}

@media (max-width: 768px) {
  #content-holder {
    padding: 120px 0% 10px 0%;
  }
  #main-content {
    display: block;
    width: 90%;
    margin: 0 5%;
  }
  #main-content h1 {
    font-size: 36px;
  }
  #main-content h2 {
    font-size: 32px;
  }
  #main-content h3 {
    font-size: 26px;
  }
  #main-content img {
    width: 90vw;
    height: auto;
  }
  .post-card {
    margin: 10px 5%; 
    width: 90%;
  }
  .headtext {
    text-align: center;
    font-size: 33px;
    color: #1e73be;
  }
  
}
